body
{
    background-color: brown;
}
.heading
{
    width: 75%;
    text-align: center;
    height: 50px;
    font-size: 25px;
}
.Bottle_accuracy
{
    background-color: gray;
    width: 500px;
    margin: 50px;
}
.Hat_accuracy
{
    background-color: gray;
    width: 500px;
    margin: 50px;
}
.Newspaper_accuracy
{
    background-color: gray;
    width: 500px;
    margin: 50px;
}
.Watch_accuracy
{
    background-color: gray;
    width: 500px;
    margin: 50px;
}
.PowerBank_accuracy
{
    background-color: gray;
    width: 500px;
    margin: 50px;
}
#copyright
{
    position: fixed;
    text-align: center;
    width: 100%;
    color: rgb(255, 47, 47);
    box-shadow: 5px 5px 18px red;
    line-height: 4;
    background: red;
    bottom: 0;
}
