body
{
    background-color: brown;
}
.heading
{
    width: 75%;
    text-align: center;
}
.Bottle_accuracy
{
    background-color: gray;
}
.Hat_accuracy
{
    background-color: gray;
}
.Newspaper_accuracy
{
    background-color: gray;
}
.Watch_accuracy
{
    background-color: gray;
}
.PowerBank_accuracy
{
    background-color: gray;
}